*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
.box{
    text-align: center;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 14px;
}
.boxx{
    width: 70px;
    height: 35px;
    font-size: 15px;
    border-radius: 20px;
    box-sizing: border-box;
    border: none;
    background-color: rgb(44, 125, 231);
    color: #fff;
}

.boxx:hover{
    text-decoration: underline;
    cursor: pointer;
}
.navbar{
    display: flex;
    width: 100%;
    height: 40px;
    background-color:  rgb(44, 125, 231);
    margin-top: 7px;
    text-decoration: none;
    box-sizing: border-box;

    

}
.link1{
    width: 20px;
    height: 20px;
    margin-left: 50px;
    box-sizing: border-box;
}
.link{
    margin-left: 25px;
    color: #fff;
    margin-top: 9px;
    font-family: sans-serif;
    font-size: 15px;
    box-sizing: border-box;
}
.link:hover{
    text-decoration: underline;
    cursor: pointer;
}
.links{
    width: 25px;
    height: 25px;
    margin-top: 10px;
    box-sizing: border-box;
    
}
.links1{
    width: 17px;
    height: 17px;
    margin-left: 260px;
    cursor: pointer;

}
.links2{
    width: 17px;
    height: 17px;
    margin-left: 320px;
    cursor: pointer;
}
.itme{
   padding: 50px 200px;
   
}
.itme1{
    margin-top: 25px;
    
}
.itme2{
    width: 135px;
    height: 60px;
    margin-left: 80px;
    /* margin-top: 15px; */
    cursor: pointer;
}
.itme3{
   color: #000;
  margin-top: 20px;
}
h3{
    margin-left: 15px;
    margin-top: 17px;
    font-size: 21px;
}
.itme4{
    margin-left: 850px;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 5px;
    color: #999;
}
.navbar1{
    display: flex;
    /* width: 10px; */
    height: 40px;
    /* background-color:  rgb(44, 125, 231); */
    margin-top: 7px;
    text-decoration: none;

}
.time{
    margin-left: 20px;
}
.itme5{
    margin-left: 20px;
    margin-top: 50px;
}
.itme6{
    width: 50px;
    height: 50px;
    margin-left: 250px;
    margin-top: 15px;
}
.time1{
    width: 150px;
    height: 50px;
    margin-left: 90px;
    margin-top: 20px;
    text-align: right;
    border-radius: 5px;
    border: 1px solid rgb(187, 181, 181);
    background-color: #fff;
}
.time0{
    width: 150px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: right;
    border-radius: 5px;
    border: 1px solid rgb(187, 181, 181);
    background-color: #fff;
}
.time12{
    margin-right: 100px;
    /* margin-top: 1px; */
}

.name{
    border: 1px solid #fff;
    background-color: rgb(231, 227, 227);
    margin-top: 30px;
    width: 100%;
    height: 100vh;
   display: flex;
}
.name0{
    display: flex;
    flex-direction: column;
    width: 350px;
}
.flex{
    color: rgb(72, 134, 226);
    margin-left: 70px;
    margin-top: 20px;
    font-size: 22px;
    width: 170px;
}
.flex:hover{
    cursor: pointer;
}
.flex0{
    color: rgb(72, 134, 226);
    margin-left: 70px;
    margin-top: 30px;
    font-size: 16px;
    width: 60px;
}
.flex0:hover{
    text-decoration: underline;
}
.flex1{
    margin-left: 70px;
    margin-top: 7px;
    font-size: 16px;
    color: #000;
}
.flex1:hover{
    text-decoration: underline;
    cursor: pointer;
}
hr{
    margin-top: 10px;
    margin-left: 50px;
}
.flex2{
    margin-left: 5px;
    margin-top: 15px;
    color: rgb(72, 134, 226);
    font-size: 16px;
}
.flex2:hover{
    text-decoration: underline;
    cursor: pointer;
}
.float{
    margin-left: 65px;
    margin-top: 15px;
}
.flex3{
    margin-left: 70px;
    margin-top: 7px;
    font-size: 16px;
    color: #000;
}
.flex3:hover{
    text-decoration: underline;
    cursor: pointer;
}.flex4{
    margin-top: 15px;
    color:  rgb(72, 134, 226);
    font-size: 16px;
    margin-left: 70px;
    width: 25px;
}
.flex4:hover{
    text-decoration: underline;
    cursor: pointer;
}
.flex5{
    margin-left: 70px;
    margin-top: 7px;
    font-size: 16px;
    color: #000;
}
.flex5:hover{
    text-decoration: underline;
    cursor: pointer;
}
.flex6{
    margin-top: 15px;
    color:  rgb(72, 134, 226);
    font-size: 16px;
    margin-left: 70px;
    width: 25px;
}
.flex6:hover{
    text-decoration: underline;
    cursor: pointer;
}
.flex7{
    margin-left: 70px;
    margin-top: 7px;
    font-size: 16px;
    color: #000;
}
.flex7:hover{
    text-decoration: underline;
    cursor: pointer;
}
.name1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: px; */
}
.flext0{
    margin-left: 70px;
    margin-top: 15px;
}
.flext1{
    /* margin-left: 300px; */
    margin-top: 15px;
    color: rgb(72, 134, 226);
    font-size: 16px;
    background-color: #5632;
  

}
.flext img{
    width: 500px;
    height: 270px;
    margin-top: -220px;
    margin-left: 70px;
}