*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
.box{
    text-align: center;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 14px;
}
.boxx{
    width: 70px;
    height: 35px;
    font-size: 15px;
    border-radius: 20px;
    box-sizing: border-box;
    border: none;
    background-color: rgb(44, 125, 231);
    color: #fff;
}

.boxx:hover{
    text-decoration: underline;
    cursor: pointer;
}
.navbar{
    display: flex;
    width: 100%;
    height: 40px;
    background-color:  rgb(44, 125, 231);
    margin-top: 7px;
    text-decoration: none;
    box-sizing: border-box;

    

}
.link1{
    width: 20px;
    height: 20px;
    margin-left: 50px;
    box-sizing: border-box;
}
.link{
    margin-left: 25px;
    color: #fff;
    margin-top: 9px;
    font-family: sans-serif;
    font-size: 15px;
    box-sizing: border-box;
}
.link:hover{
    text-decoration: underline;
    cursor: pointer;
}
.links{
    width: 25px;
    height: 25px;
    margin-top: 10px;
    box-sizing: border-box;
    
}
.links1{
    width: 17px;
    height: 17px;
    margin-left: 260px;
    cursor: pointer;

}
.links2{
    width: 17px;
    height: 17px;
    margin-left: 320px;
    cursor: pointer;
}
.itme{
   padding: 50px 200px;
   
}
.itme1{
    margin-top: 25px;
    
}
.itme2{
    width: 135px;
    height: 60px;
    margin-left: 80px;
    /* margin-top: 15px; */
    cursor: pointer;
}
.itme3{
   color: #000;
  margin-top: 20px;
}
h3{
    margin-left: 7px;
    margin-top: 17px;
    font-size: 21px;
}
.itme4{
    margin-left: 850px;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 5px;
    color: #999;
}
.navbar1{
    display: flex;
    /* width: 10px; */
    height: 40px;
    /* background-color:  rgb(44, 125, 231); */
    margin-top: 7px;
    text-decoration: none;

}
.time{
    margin-left: 20px;
}
.itme5{
    margin-left: 20px;
    margin-top: 50px;
}
.itme6{
    width: 50px;
    height: 50px;
    margin-left: 250px;
    margin-top: 15px;
}
.time1{
    width: 150px;
    height: 50px;
    margin-left: 90px;
    margin-top: 20px;
    text-align: right;
    border-radius: 5px;
    border: 1px solid rgb(187, 181, 181);
    background-color: #fff;

}
.time1:hover{
    cursor: pointer;
}

.vaqt{
    width: 25px;
    margin-right: 50px;
    margin-top: 4px;
}
.vaqt1{
    width: 25px;
    margin-right: 40px;
}

.time0{
    width: 150px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: right;
    border-radius: 5px;
    border: 1px solid rgb(187, 181, 181);
    background-color: #fff;
}
.time12{
    margin-right: 100px;
    /* margin-top: 1px; */
}

.name{
    border: 1px solid #fff;
    background-color: rgb(236, 232, 232);
    margin-top: 30px;
    width: 100%;
    height: 120vh;
    display: flex;
}
.name0{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-left: 20px;
}
.flex{
    color: rgb(72, 134, 226);
    margin-left: 70px;
    margin-top: 20px;
    font-size: 22px;
    width: 170px;
}
.flex:hover{
    cursor: pointer;
}
.flex0{
    color: rgb(72, 134, 226);
    margin-left: 70px;
    margin-top: 30px;
    font-size: 16px;
    width: 50px;
}
.flex0:hover{
    text-decoration: underline;
}
.flex1{
    margin-left: 70px;
    margin-top: 7px;
    font-size: 16px;
    color: #000;
}
.flex1:hover{
    text-decoration: underline;
    cursor: pointer;
}
.hr1{
    margin-top: 20px;
    margin-left: 70px;
}
.hr2{
    margin-top: 20px;
    width: 200px;
}
.hr3{
    width: 200px;
    margin-top: 20px;
    margin-left: 30px;
}
.flex2{
    margin-left: 5px;
    margin-top: 15px;
    color: rgb(72, 134, 226);
    font-size: 16px;
}
.flex2:hover{
    text-decoration: underline;
    cursor: pointer;
}
.float{
    margin-left: 65px;
    margin-top: 15px;
}
.flex3{
    margin-left: 70px;
    margin-top: 7px;
    font-size: 16px;
    color: #000;
}
.flex3:hover{
    text-decoration: underline;
    cursor: pointer;
}.flex4{
    margin-top: 15px;
    color:  rgb(72, 134, 226);
    font-size: 16px;
    margin-left: 70px;
    width: 25px;
}
.flex4:hover{
    text-decoration: underline;
    cursor: pointer;
}
.flex5{
    margin-left: 70px;
    margin-top: 7px;
    font-size: 16px;
    color: #000;
}
.flex5:hover{
    text-decoration: underline;
    cursor: pointer;
}
.flex6{
    margin-top: 15px;
    color:  rgb(72, 134, 226);
    font-size: 16px;
    margin-left: 70px;
    width: 25px;
}
.flex6:hover{
    text-decoration: underline;
    cursor: pointer;
}
.flex7{
    margin-left: 70px;
    margin-top: 7px;
    font-size: 16px;
    color: #000;
}
.flex7:hover{
    text-decoration: underline;
    cursor: pointer;
}
.name1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    margin-left: 50px;
    
}
.flext0{
    margin-left: 70px;
    margin-top: 20px;
}
.flext1{
    color: rgb(72, 134, 226);
    font-size: 16px;
}
.flext1:hover{
    text-decoration: underline;
    cursor: pointer;
}
.flext{
    margin-left: 70px;
}
.flextt{
    display: flex;
    flex-direction: column;
    
    width: 500px;
    height: 400px;
    margin-top: -130px;
   
}
.flext2{
    margin-left: 70px;
    margin-top: 7px;
    font-size: 28px;
    color: #000;
    transition: .3s;
}
.flext2:hover{
    cursor: pointer;
    color: rgb(72, 134, 226);
}
.flext3{
    width: 380px;
    margin-left: 70px;
    margin-top: 20px;
    font-size: 16px;
    color: #000;
}

.name2{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    width: 550px;
  
}
.class{
    color: rgb(72, 134, 226);
    font-size: 22px;
    width: 200px;
    margin-top: 20px;

}.class:hover{
    cursor: pointer;
}
.class0{
    width: 60px;
    margin-top: 30px;
    font-size: 17px;
    color: rgb(72, 134, 226);
}
.class0:hover{
    text-decoration: underline;
    cursor: pointer;
}
.class1{
    margin-top: 7px;
    width: 250px;
    font-size: 17px;
    color: #000;
}
.class1:hover{
    text-decoration: underline;
    cursor: pointer;
}
.class2{
    width: 60px;
   margin-top: 20px;
   color: rgb(72, 134, 226);
   font-size: 17px;
}
.class2:hover{
    text-decoration: underline;
    cursor: pointer;
}
.class3{
    margin-top: 7px;
    width: 245px;
    font-size: 17px;
    color: #000;
}
.class3:hover{
    text-decoration: underline;
    cursor: pointer;
}
.name3{
    display: flex;
    width: 100%;
    height: 124vh;
}
.name4{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: 80px;
    
}

.img0{
    margin: 30px 200px;
}
.img{
    width: 600px;
    height: 350px;

}
.img1{
    width: 60px;
    margin-top: 20px;
    color: rgb(72, 134, 226);
    font-size: 17px;
}
.img1:hover{
    text-decoration: underline;
    cursor: pointer;
}
.img2{
    margin-top: 20px;
    font-size: 22px;
    color: #000;
    transition: .3s;
}
.img2:hover{
    color: rgb(72, 134, 226);
    cursor: pointer;
}
p{
    margin-top: 20px;
}
.name5{
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-left: 50px;
    /* background-color: brown; */
    
}
.img03{
    width: 100px;
    border-radius: 90px;
}
.img3{
    width: 100px;
    height: 100px;
    border-radius: 90px;
}
.name6{
    margin-top: 20px;
}
.img4{
    width: 120px;
}
.img4:hover{
    text-decoration: underline;
    cursor: pointer;
}
.img5{
    margin-top: 30px;
    font-size: 20px;
    color: #000;
}
.img5:hover{
    text-decoration: underline;
    cursor: pointer;
}
.img6{
    margin-top: 40px;
    margin-left: 30px;
}
.name7{
    display: flex;
    flex-direction: column;
    width: 280px;
    margin-left: 10px;
    height: 119vh;
    margin-left: 40px;
    background-color: rgb(235, 230, 230);
}
.main0{
    font-size: 20px;
    margin-left: 30px;
}
.main{
    margin-left: 30px;
    margin-top: 40px;
    font-size: 15px;
}
.main:hover{
    text-decoration: underline;
    cursor: pointer;
}
.main1{
    width: 205px;
    margin-left: 30px;
    margin-top: 20px;
    color: #000;
}
.main1:hover{
    text-decoration: underline;
    cursor: pointer;
}
.main02{
    margin-top: 20px;
    margin-left: 30px;
    font-size: 15px;
}
.main2:hover{
    text-decoration: underline;
    cursor: pointer;
}

.main3{
    width: 50px;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 15px;
}
.main3:hover{
    text-decoration: underline;
    cursor: pointer;
}
.style{
    display: flex;
    width: 100%;
    height: 190vh;
    
}
.style0{
    width: 19%;
    display: flex;
    flex-direction: column;
    
}
.style01{
    width: 20px;
    margin-left: 70px;
}
.style1{
    width: 160px;
    height: 160px;
  
}
.style2{
    width: 160px;
    height: 160px;
    margin-top: 30px;
}
.for{
    display: flex;
    flex-direction: column;
    width: 420px;
   
}
.for0{
    width: 50px;
    margin-left: 20px;
    margin-top: 7px;
}
.for0:hover{
    text-decoration: underline;
    cursor: pointer;
}
.for1{
    width: 355px;
    margin-left: 20px;
    margin-top: 12px;
    font-size: 18px;
    color: #000;
}
.for1:hover{
    text-decoration: underline;
    cursor: pointer;
}
.for2{
    margin-left: 20px;
    margin-top: 15px;
}
.for3{
    width: 50px;
    margin-left: 20px;
    margin-top: 50px;
}
.for3:hover{
    text-decoration: underline;
    cursor: pointer;
}
.for4{
    width: 50px;
    margin-left: 20px;
    margin-top: 70px;
}
.for4:hover{
    text-decoration: underline;
    cursor: pointer;
}
.for5{
    width: 50px;
    margin-left: 20px;
    margin-top: 93px;
    
}
.for5:hover{
    text-decoration: underline;
    cursor: pointer;
}
.for20{
    margin-top: 10px;
    margin-left: 20px;
    width: 350px;
}
.best{
    display: flex;
    flex-direction: column;
    width: 19%;
    
}
.style02{
    margin-left: 70px;
}
.best0{
    display: flex;
    flex-direction: column;
    width: 380px;
   
}
.best1{
    width: 330px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 19px;
    color: #000;
}
.best1:hover{
    text-decoration: underline;
}
.best2{
    width: 30px;
    margin-left: 20px;
    margin-top: 65px;
}
.best2:hover{
    text-decoration: underline;
}
.best3{
    width: 50px;
    margin-left: 20px;
    margin-top: 70px;
    
}
.best3:hover{
    text-decoration: underline;
}
.best4{
    width: 50px;
    margin-top: 50px;
    margin-left: 20px;
}
.best4:hover{
    text-decoration: underline;
}
.san{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: #000;
}
.come{
    display: flex;
    width: 100%;
    height: 20vh;
    margin-top: 60px;
    background-color: rgb(68, 66, 66);
    
}
.come1{
    display: flex;
    margin-top: 50px;
    margin-left: 70px;
    margin: 30px 15px;
    color: #fff;
}
